.container {
    .content{
        width: 50%;
        margin-top: 250px;
    
        .betterLifeText{
            font-size: 50px;
        }
    
        .betterLifeTextDesc{
            font-size: 21px;
            margin-top: -10px;
        }
    
        .btn{
            width: 10.5rem;
        }
    
            /* .img{
                width: 20px;
            } */
    }

    .picture {
         margin-top: 7%;
         margin-left: 55px;
        }

    .textM{
        margin-top: 10rem;
    }

    .cardMain{
        margin-top: 5rem;
        margin-bottom: 5rem;
        gap: 5rem;
        
        .card-text{
            text-align: justify;
        }
    }

    .SugForm{
        border: 2px solid black;
        padding: 3.5%;
        border-radius: 1rem;
        margin-bottom: 5rem;
    }
}

